@font-face {
    font-family: 'Helvetica Regular';
    src: url('../fonts/HelveticaNeue.ttf') format ('truetype');
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url('../fonts/HelveticaNeueBold.ttf') format('truetype');

}